pkgbase = kirigami2
	pkgdesc = A QtQuick based components set
	pkgver = 5.82.0
	pkgrel = 1.2
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-svg
	makedepends = kpackage
	makedepends = doxygen
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	source = https://download.kde.org/stable/frameworks/5.82/kirigami2-5.82.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.82/kirigami2-5.82.0.tar.xz.sig
	source = kdebug-434079.patch::https://invent.kde.org/frameworks/kirigami/commit/29dabab2f536827bc1ecec63f5a0b0a76f0809e5.patch
	source = kdebug-436707.patch::https://invent.kde.org/frameworks/kirigami/commit/05b5a1b2fa3552f67e9e4d0a144381438b7458c0.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 3541aec3cacbcf9d802ead3a0e1920163aae58b5e5ef121ec6725d0eacc9942a
	sha256sums = SKIP
	sha256sums = 4f064a01eedd4b759bca1b3d23ab8cf0bd33ba5d0b6a6a8e6e8270d3d7978763
	sha256sums = 38c5efec3b4ab746da13f323023c4924e624f4e454f46d245daaf8149f927c6b

pkgname = kirigami2

