pkgbase = sddm-kcm
	pkgdesc = KDE Config Module for SDDM
	pkgver = 5.19.5
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = sddm
	depends = knewstuff
	source = https://download.kde.org/stable/plasma/5.19.5/sddm-kcm-5.19.5.tar.xz
	source = https://download.kde.org/stable/plasma/5.19.5/sddm-kcm-5.19.5.tar.xz.sig
	source = kdebug-407686.patch::https://invent.kde.org/plasma/sddm-kcm/commit/8acacca14eba2c445b0e9dd8a9b4193cb48cfb7d.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 3ba2c6821fc847fca2cb8123748bf05cdd9c45557a0ecab5dc43a37a5ebde738
	sha256sums = SKIP
	sha256sums = 350e60befe3a2a75fd105f0603cd35ee5fe247ec578aa7ccad999bbbcc18842d

pkgname = sddm-kcm

