pkgbase = breeze-gtk
	pkgdesc = Breeze widget theme for GTK 2 and 3
	pkgver = 5.18.3
	pkgrel = 1.1
	url = https://quickgit.kde.org/?p=breeze-gtk.git
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = sassc
	makedepends = python-cairo
	makedepends = breeze
	depends = qt5-base
	source = https://download.kde.org/stable/plasma/5.18.3/breeze-gtk-5.18.3.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.3/breeze-gtk-5.18.3.tar.xz.sig
	source = kdebug-417461.patch::https://cgit.kde.org/breeze-gtk.git/patch/?id=dca25cb44b37458506f7455469829f8da115ee69
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = c10cea3dfb50914749271ccbe19d44947d01398e98c3c3dbafffab89923cd8a0
	sha256sums = SKIP
	sha256sums = 31074e7c232d3e7dc873fda28165011cd80d9a952d3bd75357a71e154dabd768

pkgname = breeze-gtk

