pkgbase = ktorrent
	pkgdesc = A powerful BitTorrent client for KDE
	pkgver = 5.2.0
	pkgrel = 1.1
	url = https://www.kde.org/applications/internet/ktorrent/
	arch = x86_64
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = boost
	makedepends = plasma-workspace
	makedepends = kdnssd
	makedepends = taglib
	makedepends = syndication
	makedepends = kplotting
	makedepends = kdewebkit
	makedepends = geoip
	depends = libktorrent
	depends = kcmutils
	depends = knotifyconfig
	depends = kross
	depends = phonon-qt5
	optdepends = plasma-workspace: shutdown plugin
	optdepends = kdnssd: zeroconf plugin
	optdepends = taglib: mediaplayer plugin
	optdepends = geoip: info widget plugin
	optdepends = syndication: syndication plugin
	optdepends = kdewebkit: search plugin, syndication plugin
	optdepends = kplotting: statistics plugin
	source = https://download.kde.org/stable/ktorrent/5.2.0/ktorrent-5.2.0.tar.xz
	source = https://download.kde.org/stable/ktorrent/5.2.0/ktorrent-5.2.0.tar.xz.sig
	source = ktorrent-taglib-link.patch::https://invent.kde.org/network/ktorrent/-/commit/f4c1c91d.patch
	source = Fix-starting-in-tray-by-removing-redundant-show-in-main.patch::https://invent.kde.org/network/ktorrent/-/commit/0a9cdd1be67700511af50e2393152eb0ea298323.patch
	validpgpkeys = 1EE5A3205904BAA2B88C0A9D24FD31940095C0E1
	sha256sums = d1031d745c1ace02d11b59c426610aee779d208e3d1ae81f8559c265173732ff
	sha256sums = SKIP
	sha256sums = 0a894fe4b7c929451c7947d00e767560a99e3d53f5d7d0ac20e5ae8347ee69ee
	sha256sums = 30f2b1675ae554fe7bdb7accbe5b69d985bd8426fbb50c9a89b6fd4a8d2c0e06

pkgname = ktorrent

