pkgbase = kwayland
	pkgdesc = Qt-style Client and Server library wrapper for the Wayland libraries
	pkgver = 5.68.0
	pkgrel = 1.1
	url = https://www.kde.org
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = wayland-protocols
	depends = qt5-base
	source = https://download.kde.org/stable/frameworks/5.68/kwayland-5.68.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.68/kwayland-5.68.0.tar.xz.sig
	source = kdebug-381674.patch::https://cgit.kde.org/kwayland.git/patch/?id=6bfa71d89aeec9bda402639118f09706d9985037
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 7c99bfac8f4bff457a5384c846be776c385649ced76be0f48699c6e12de24e7c
	sha256sums = SKIP
	sha256sums = 48e05b89a142726a7dcaf2cd8f5fb524e48e5f4ca8779784b46cdfdb0926e5c8

pkgname = kwayland

