pkgbase = ark
	pkgdesc = Archiving Tool
	pkgver = 21.08.2
	pkgrel = 1.1
	url = https://apps.kde.org/ark/
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kparts
	depends = kpty
	depends = libarchive
	depends = libzip
	depends = kitemmodels
	depends = hicolor-icon-theme
	optdepends = p7zip: 7Z format support
	optdepends = unrar: RAR decompression support
	optdepends = unarchiver: RAR format support
	optdepends = lzop: LZO format support
	optdepends = lrzip: LRZ format support
	source = https://download.kde.org/stable/release-service/21.08.2/src/ark-21.08.2.tar.xz
	source = https://download.kde.org/stable/release-service/21.08.2/src/ark-21.08.2.tar.xz.sig
	source = kdebug-441813.patch::https://invent.kde.org/utilities/ark/-/commit/299feb809e3f2f95c8dc6c245671b9aa0b4976ea.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 2f941c247cd30517a7aa765ed547d98a92d588c4445a7376f99e1f903168bf43
	sha256sums = SKIP
	sha256sums = f27ed5348be1de14b27e46d7e57fd5ffcae10b6c251cc89b22d389378263dd4e

pkgname = ark
