pkgbase = ark
	pkgdesc = Archiving Tool
	pkgver = 21.08.3
	pkgrel = 1.1
	url = https://apps.kde.org/ark/
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kparts
	depends = kpty
	depends = libarchive
	depends = libzip
	depends = kitemmodels
	depends = hicolor-icon-theme
	optdepends = p7zip: 7Z format support
	optdepends = unrar: RAR decompression support
	optdepends = unarchiver: RAR format support
	optdepends = lzop: LZO format support
	optdepends = lrzip: LRZ format support
	source = https://download.kde.org/stable/release-service/21.08.3/src/ark-21.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/21.08.3/src/ark-21.08.3.tar.xz.sig
	source = kdebug-444965.patch::https://invent.kde.org/utilities/ark/commit/70ead5fe6d1005fbcbce252030bfb351f1c5e26f.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 671858504c628991bf579b1a20edd822f6bb235b4fced618cf3906a919da3df3
	sha256sums = SKIP
	sha256sums = 2786c84d4c629d6e72f852f3d90c5d9f4196262c4b76a3476ceb9e3e34660b96

pkgname = ark
