pkgbase = ktexteditor
	pkgdesc = Advanced embeddable text editor
	pkgver = 5.68.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kparts
	depends = syntax-highlighting
	depends = libgit2
	depends = editorconfig-core-c
	source = https://download.kde.org/stable/frameworks/5.68/ktexteditor-5.68.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.68/ktexteditor-5.68.0.tar.xz.sig
	source = kdebug-417890.patch::https://cgit.kde.org/ktexteditor.git/patch/?id=1527af3b5435c4592f8b8daf9ffc7304ec69b77b
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = dad373d4c136d113cca1ee6d700753563b7348813ff3229db670eedc63980cd6
	sha256sums = SKIP
	sha256sums = 6237b970de5edd0ad64979f6b11393c770a9fe7af65348d0140a2d1d62c2d438

pkgname = ktexteditor

