pkgbase = ktexteditor
	pkgdesc = Advanced embeddable text editor
	pkgver = 5.75.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kparts
	depends = syntax-highlighting
	depends = libgit2
	depends = editorconfig-core-c
	source = https://download.kde.org/stable/frameworks/5.75/ktexteditor-5.75.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.75/ktexteditor-5.75.0.tar.xz.sig
	source = kdebug-427654.patch::https://invent.kde.org/frameworks/ktexteditor/-/commit/d80782ebd1d4d92b8ef9fa1593eb93a4c052f3a4.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = acb689e7d5fdaeb43dd2450cd51bca7153d3923df968be46e4aaf2871232f983
	sha256sums = SKIP
	sha256sums = ea58bac14cb15c0d3429fda5087e232453d3a7f8f2db0ce5db4b3d850bbb79c3

pkgname = ktexteditor

