pkgbase = kio-extras
	pkgdesc = Additional components to increase the functionality of KIO
	pkgver = 20.04.1
	pkgrel = 1.1
	url = https://www.kde.org/applications/internet/
	arch = x86_64
	groups = kde-applications
	groups = kdenetwork
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = gperf
	makedepends = taglib
	makedepends = libappimage
	depends = kio
	depends = kdnssd
	depends = libssh
	depends = smbclient
	depends = exiv2
	depends = openexr
	depends = libmtp
	depends = kpty
	depends = kactivities-stats
	depends = phonon-qt5
	depends = syntax-highlighting
	depends = kdsoap-ws-discovery-client
	depends = libxcursor
	optdepends = qt5-imageformats: thumbnails for additional image formats
	optdepends = perl: info kioslave
	optdepends = kimageformats: thumbnails for additional image formats
	optdepends = taglib: audio file thumbnails
	optdepends = phonon-qt5: audio file previews
	optdepends = libappimage: AppImage thumbnails
	optdepends = icoutils: Windows executable thumbnails
	source = https://download.kde.org/stable/release-service/20.04.1/src/kio-extras-20.04.1.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.1/src/kio-extras-20.04.1.tar.xz.sig
	source = kdebug-291835.patch::https://cgit.kde.org/kio-extras.git/patch/?id=46b5fb425c148b9a6b02eed3ef25f14feb5996ba
	source = kdebug-405838.patch::https://cgit.kde.org/kio-extras.git/patch/?id=94e7b64325f9e71196a19fb5bc396b9e82f88fc7
	source = D28739.patch::https://cgit.kde.org/kio-extras.git/patch/?id=8c3c27daa03b32da31a0e2e9a23f0fdd976dfe09
	source = kdebug-420354.patch::https://cgit.kde.org/kio-extras.git/patch/?id=951e2f2d49a8b1a3c025ba311d78070791a84923
	source = kdebug-404890.patch::https://cgit.kde.org/kio-extras.git/patch/?id=1df6174834bb3a126f630d4477bcdbda95f45a8b
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 4a81b3f8f81fa7b6d0677d6706bbb9c995db27643ce40fca6501c2c56c2d8f33
	sha256sums = SKIP
	sha256sums = a8cfe7289f2ccdf8895d9423e14fd1053f4819e347a4698316c06da61528c5fe
	sha256sums = 8192f93d26a353185746ff7aa09e7070691b766354dbe656bd1396e08705b817
	sha256sums = ed99cb00df892fd43165081e09d5292f96717013a903fb6971f300b6658f501f
	sha256sums = d9f6aed5c83bd2ad823cb96b5ec500db1e7268ce5ffab626d829da738cd3dd41
	sha256sums = 3e42533412efda5db97fe6173cff54e3d0f275c250cd22885e51c37e4cb89845

pkgname = kio-extras

