pkgbase = baloo-widgets
	pkgdesc = Widgets for Baloo
	pkgver = 20.04.0
	pkgrel = 1.1
	url = https://community.kde.org/Baloo
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = baloo
	source = https://download.kde.org/stable/release-service/20.04.0/src/baloo-widgets-20.04.0.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.0/src/baloo-widgets-20.04.0.tar.xz.sig
	source = kdebug-413091.patch::https://cgit.kde.org/baloo-widgets.git/patch/?id=50fdd3e154ffac3b4b42cc03735255aca8272ae8
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 8ce3bdafd8b3598799d5303af483295625db7a7b66b08cff2d6c3d35df759853
	sha256sums = SKIP
	sha256sums = f5449697f2d67be34c07581b6fc3fb011d59a5c9e203aaf57d89b9ef3be8dd47

pkgname = baloo-widgets

