pkgbase = dolphin-plugins
	pkgdesc = Extra Dolphin plugins
	pkgver = 20.08.3
	pkgrel = 1.1
	url = https://www.kde.org/applications/system/dolphin/
	arch = x86_64
	groups = kde-applications
	groups = kdesdk
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = ktexteditor
	depends = dolphin
	optdepends = ktexteditor: Mercurial plugin
	source = https://download.kde.org/stable/release-service/20.08.3/src/dolphin-plugins-20.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.3/src/dolphin-plugins-20.08.3.tar.xz.sig
	source = kdebug-424413.patch::https://invent.kde.org/sdk/dolphin-plugins/commit/2714be04b49d4340c5f23746672eb6a12711f9f6.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 0cb1b232c9b86811107ef9270ba2be42d242157b8daeeeffd1493ae635f0aa3a
	sha256sums = SKIP
	sha256sums = 410684b09229ab94f5684a62ce37e5fc5d5655f11637c1e151891b8d1e89449e

pkgname = dolphin-plugins

