pkgbase = dolphin
	pkgdesc = KDE File Manager
	pkgver = 19.12.3
	pkgrel = 1.2
	url = https://kde.org/applications/system/dolphin/
	arch = x86_64
	groups = kde-applications
	groups = kdebase
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = baloo-widgets
	depends = knewstuff
	depends = kio-extras
	depends = kcmutils
	depends = kparts
	depends = kinit
	depends = phonon-qt5
	optdepends = kde-cli-tools: for editing file type options
	optdepends = ffmpegthumbs: video thumbnails
	optdepends = kdegraphics-thumbnailers: PDF and PS thumbnails
	optdepends = konsole: terminal panel
	optdepends = purpose: share context menu
	source = https://download.kde.org/stable/release-service/19.12.3/src/dolphin-19.12.3.tar.xz
	source = https://download.kde.org/stable/release-service/19.12.3/src/dolphin-19.12.3.tar.xz.sig
	source = kdebug-415698.patch::https://cgit.kde.org/dolphin.git/patch/?id=d0cbcf9718bb5192738ea9f5a5a3d6c4f9f7dcef
	source = kdebug-417640.patch::https://cgit.kde.org/dolphin.git/patch/?id=4c923a531f77bc4c44b5c8687fe18dd6438eb9c5
	source = port-deprecated-signal.patch::https://cgit.kde.org/dolphin.git/patch/?id=e545efee73a869aef4276baef0535169f03933de
	source = kdebug-408244.patch::https://cgit.kde.org/dolphin.git/patch/?id=fa806d48dafec0c47141381740a5d7604293d32d
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = ba16f4d5be5ccc3c135a913f2e3c7dd3b7a492cfc9ec9ae518f714fcd7c2ab47
	sha256sums = SKIP
	sha256sums = d8b6faaa50c7565e119ead866941f2a87704e28291d7bcd32c2f3f5fd79f81a9
	sha256sums = ae1895baecce08de057bf70d9593ae264ccc779ddf8ca1aa7bc4415c21570086
	sha256sums = fc0f361efac9b9d0dd9bfd93a3819115b5fe21c654093571636e0b2f450faacb
	sha256sums = fa9491fdf8b618b9ac015b6e8d0a3ea41dfb0ebfe4f1a782b9edb9a9059a9512

pkgname = dolphin

