pkgbase = kwayland-server
	pkgdesc = Wayland server components built on KDE Frameworks
	pkgver = 5.20.0
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = plasma-wayland-protocols
	makedepends = wayland-protocols
	makedepends = kwayland
	makedepends = doxygen
	makedepends = qt5-tools
	depends = qt5-base
	source = https://download.kde.org/stable/plasma/5.20.0/kwayland-server-5.20.0.tar.xz
	source = https://download.kde.org/stable/plasma/5.20.0/kwayland-server-5.20.0.tar.xz.sig
	source = kdebug-426293.patch::https://invent.kde.org/plasma/kwayland-server/-/commit/3987c0aecfb2f7e9e1222a61a75ad32a0b592c08.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = e40253814bad7fa4ae829f1d3a752ba9bd89d92c5e89a72c6b857668ed75ecd6
	sha256sums = SKIP
	sha256sums = 264290086344ee782f67617b3ebffe0d80b3d723698fe71bcbec15f97380d470

pkgname = kwayland-server

