pkgbase = qjournalctl
	pkgdesc = Qt-based graphical user interface for systemd's journalctl command
	pkgver = 0.6.3
	pkgrel = 1
	url = https://github.com/pentix/qjournalctl
	arch = x86_64
	license = GPL
	depends = glibc
	depends = gcc-libs
	depends = qt5-base
	depends = libssh
	source = qjournalctl-0.6.3.tar.gz::https://github.com/pentix/qjournalctl/archive/v0.6.3.tar.gz
	sha256sums = a8226177c72f3867b34eb5f7150c672d5e0a21ac5f808e64576c5771a097ef36

pkgname = qjournalctl
