pkgbase = systemsettings
	pkgdesc = KDE system manager for hardware, software, and workspaces
	pkgver = 5.21.2
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = plasma-workspace
	source = https://download.kde.org/stable/plasma/5.21.2/systemsettings-5.21.2.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.2/systemsettings-5.21.2.tar.xz.sig
	source = kdebug-433109.patch::https://invent.kde.org/plasma/systemsettings/commit/a0b4a391bb8f0447c357922afe69241bd47fc41e.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = cd355f1c9438cb5d177e7d8bf228342c6e0b6a3080b0ee479897d55431b788fe
	sha256sums = SKIP
	sha256sums = 4bf077ae8333e01c4229d6bfa457f8bbaabd1e37d070c97f777f96580afb3fe0

pkgname = systemsettings
