pkgbase = solid
	pkgdesc = Hardware integration and detection
	pkgver = 5.68.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	makedepends = qt5-declarative
	depends = qt5-base
	depends = media-player-info
	depends = upower
	depends = udisks2
	optdepends = qt5-declarative: QML bindings
	source = https://download.kde.org/stable/frameworks/5.68/solid-5.68.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.68/solid-5.68.0.tar.xz.sig
	source = kdebug-418906.patch::https://cgit.kde.org/solid.git/patch/?id=a99c6136da2d232dd699a8accd58deae1db3be41
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 472c1934b3c9cf917f28ac0e5b0864de442b96852744c301d88d8ab7269d74c3
	sha256sums = SKIP
	sha256sums = e79333d483794d4770f5378193401bd2acc9a226a9868e96bc753e28b88af96c

pkgname = solid

