pkgbase = plasma-vault
	pkgdesc = Plasma applet and services for creating encrypted vaults
	pkgver = 5.18.5
	pkgrel = 1.1
	url = https://www.kde.org/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	depends = plasma-workspace
	depends = networkmanager-qt
	optdepends = encfs: to use encFS for encryption
	optdepends = cryfs: to use cryFS for encryption
	source = https://download.kde.org/stable/plasma/5.18.5/plasma-vault-5.18.5.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.5/plasma-vault-5.18.5.tar.xz.sig
	source = kdebug-412779.patch::https://cgit.kde.org/plasma-vault.git/patch/?id=1e2988d7d3ca68f9ff00e576c634aff4fe5b8b32
	source = D28914.patch::https://cgit.kde.org/plasma-vault.git/patch/?id=6944aab19e86e153c89bceb6828cb0f6fea42a8c
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = cae2713823e8c59c7a2beb96d362a15024fe260cf10419ba037e8a798f3c1b41
	sha256sums = SKIP
	sha256sums = 8f03ccaac34b1fe2a3f63453db41bfadd06df8b1389a577181e2649fa6d3c156
	sha256sums = 2a93ecdf5c551d67b64344b11644bf488314d8a2dc1380cb393a9b2891770412

pkgname = plasma-vault

