pkgbase = kcalendarcore
	pkgdesc = The KDE calendar access library
	pkgver = 5.71.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = libical
	depends = qt5-base
	provides = kcalcore
	conflicts = kcalcore
	replaces = kcalcore
	source = https://download.kde.org/stable/frameworks/5.71/kcalendarcore-5.71.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.71/kcalendarcore-5.71.0.tar.xz.sig
	source = kdebug-345498.patch::https://invent.kde.org/frameworks/kcalendarcore/commit/dc7b1865c3bff04d0173505335da22cefa3b5f5f.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = d5138db971f6be606be8ae7d761bad778af3cacada8e85fb2f469190c347cd94
	sha256sums = SKIP
	sha256sums = 55e4a0eded026d31d1bdf4807630264b229e611f5f1d2b60c6b04e670be17fd1

pkgname = kcalendarcore

