pkgbase = plasma-browser-integration
	pkgdesc = Components necessary to integrate browsers into the Plasma Desktop
	pkgver = 5.18.4.1
	pkgrel = 1.1
	url = https://www.kde.org/plasma-desktop
	arch = x86_64
	groups = plasma
	license = GPL
	makedepends = extra-cmake-modules
	depends = krunner
	depends = purpose
	depends = kfilemetadata
	source = https://download.kde.org/stable/plasma/5.18.4/plasma-browser-integration-5.18.4.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.4/plasma-browser-integration-5.18.4.1.tar.xz.sig
	source = kdebug-419699.patch::https://cgit.kde.org/plasma-browser-integration.git/patch/?id=b50818455f89d3b8de059efcc99518c0db4e5353
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 5b37e9e84435d1dc77e4b68c97042be60da0ba66e7dc2ef7d60d210785154c90
	sha256sums = SKIP
	sha256sums = 17936e4ca32eeaa07578df997b0998505360930b3bef21ace2d3eb5e51749936

pkgname = plasma-browser-integration

