pkgbase = kactivitymanagerd
	pkgdesc = System service to manage user's activities and track the usage patterns
	pkgver = 5.20.0
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = boost
	depends = kio
	source = https://download.kde.org/stable/plasma/5.20.0/kactivitymanagerd-5.20.0.tar.xz
	source = https://download.kde.org/stable/plasma/5.20.0/kactivitymanagerd-5.20.0.tar.xz.sig
	source = kdebug-427650.patch::https://invent.kde.org/plasma/kactivitymanagerd/commit/590778d6f105e11f4521d5bed65ac0e30b086132.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 3edc81cc588db4405e1b51831288bdd9ad5c33ef097620549bf936fc7ec21fbe
	sha256sums = SKIP
	sha256sums = 792c3f273f273902fbcb937a00f5b7c6a215d9c48687f6a729e1b899665f98aa

pkgname = kactivitymanagerd

