pkgbase = libksysguard
	pkgdesc = Library to retrieve information on the current status of computer hardware
	pkgver = 5.20.2
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = plasma-framework
	depends = libxres
	depends = qt5-webengine
	depends = kdeclarative
	depends = knewstuff
	source = https://download.kde.org/stable/plasma/5.20.2/libksysguard-5.20.2.tar.xz
	source = https://download.kde.org/stable/plasma/5.20.2/libksysguard-5.20.2.tar.xz.sig
	source = kdebug-428048.patch::https://invent.kde.org/plasma/libksysguard/commit/5e48a74d5f2b0cd271b4edc8308dabd8d2a6fd79.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 9f57a3719d665df6d6b3c494a62bb7d60c79b06f30c0e9c75eb03568d2046d71
	sha256sums = SKIP
	sha256sums = d604546e640b5c2d78caeaa2179e3995ce54afb3b7c2ad47029c87d6e2e1d7c7

pkgname = libksysguard

