pkgbase = libksysguard
	pkgdesc = Library to retrieve information on the current status of computer hardware
	pkgver = 5.21.1
	pkgrel = 1.3
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = qt5-tools
	depends = libxres
	depends = qt5-webengine
	depends = kdeclarative
	depends = knewstuff
	source = https://download.kde.org/stable/plasma/5.21.1/libksysguard-5.21.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.1/libksysguard-5.21.1.tar.xz.sig
	source = kdebug-433007.patch::https://invent.kde.org/plasma/libksysguard/commit/504dcbd225e26fe39f1f26d65ad477fc73558762.patch
	source = kdebug-433169.patch::https://invent.kde.org/plasma/libksysguard/commit/496802c21d1bddfdaf6ac81ad4298c7b67311f60.patch
	source = kdebug-433064.patch::https://invent.kde.org/plasma/libksysguard/commit/b3f7e503276700cd58b685bc1b46f67aad1407df.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = e846b0ebf1a347e6f8637a70866c17b1aa8e806c910085729b0fcf08ae74ea93
	sha256sums = SKIP
	sha256sums = 9a663ba26b6be0aa1627684bddcd9dfb6da60e8e390e1f85fbe30bba57f697f8
	sha256sums = 6e74910fb03d3a52fde15c4dc8a3e2e48a7e1afb76bb844f25b1e5d312b7dcd4
	sha256sums = 9426f9cb11dbe0c07d769b65d4ba6ef90c05a62afa43445b130e02744eb9a99f

pkgname = libksysguard
