pkgbase = kdialog
	pkgdesc = A utility for displaying dialog boxes from shell scripts
	pkgver = 20.08.1
	pkgrel = 1.1
	url = https://www.kde.org/
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kio
	source = https://download.kde.org/stable/release-service/20.08.1/src/kdialog-20.08.1.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.1/src/kdialog-20.08.1.tar.xz.sig
	source = kdebug-426979.patch::https://invent.kde.org/utilities/kdialog/-/commit/4d64f16ea85a0aaaa9c9c0a1e0ec2691426a75ab.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 089e8a8e85a9021b830e9b8a19ecb1999781915a716c9c2b3c99894a5d1c8dcf
	sha256sums = SKIP
	sha256sums = ff3fd46f67870f5197d02df98eb354587826e2c1543bb5faf7488e3e0f8ae3d5

pkgname = kdialog

