pkgbase = tellico
	pkgdesc = A collection manager for KDE
	pkgver = 3.3
	pkgrel = 1.1
	url = http://tellico-project.org/
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = libkcddb
	depends = exempi
	depends = libksane
	depends = libkcddb
	depends = libcdio
	depends = kfilemetadata
	depends = knewstuff
	depends = kitemmodels
	depends = khtml
	depends = yaz
	depends = qimageblitz-svn
	depends = btparse
	depends = libcsv
	source = http://tellico-project.org/files/tellico-3.3.tar.xz
	sha256sums = de08c27a63f3dd9cab085604fda9f94efb3abfd1ffb1e0ec2f7be9fcf79d2fb6

pkgname = tellico

