pkgbase = breeze
	pkgdesc = Artwork, styles and assets for the Breeze visual style for the Plasma Desktop
	pkgver = 5.21.1
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kcmutils
	depends = frameworkintegration
	depends = kdecoration
	depends = breeze-icons
	depends = kwayland
	depends = hicolor-icon-theme
	optdepends = breeze-gtk: Breeze widget style for GTK applications
	optdepends = kcmutils: for breeze-settings
	source = https://download.kde.org/stable/plasma/5.21.1/breeze-5.21.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.1/breeze-5.21.1.tar.xz.sig
	source = kdebug-433178.patch::https://invent.kde.org/plasma/breeze/commit/da9593d379c25d08e8cd356f472fa561f9fda5f8.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 65d95562489f2dc66240b690882f467a4a7990885fd7185337a5006709d3b7f5
	sha256sums = SKIP
	sha256sums = d0bbb96fbfd2072631a69dd1d473a7138bc0dd0f316482c0fb12c3539af856cb

pkgname = breeze
