pkgbase = okular
	pkgdesc = Document Viewer
	pkgver = 20.04.0
	pkgrel = 1.2
	url = https://kde.org/applications/graphics/okular/
	arch = x86_64
	groups = kde-applications
	groups = kdegraphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = ebook-tools
	makedepends = kdegraphics-mobipocket
	makedepends = kdoctools
	makedepends = khtml
	makedepends = chmlib
	depends = djvulibre
	depends = libspectre
	depends = libkexiv2
	depends = poppler-qt5
	depends = qca
	depends = kpty
	depends = kactivities
	depends = threadweaver
	depends = kjs
	depends = kparts
	depends = purpose
	depends = discount
	depends = phonon-qt5
	optdepends = ebook-tools: mobi and epub support
	optdepends = kdegraphics-mobipocket: mobi support
	optdepends = libzip: CHM support
	optdepends = khtml: CHM support
	optdepends = chmlib: CHM support
	optdepends = calligra: ODT and ODP support
	optdepends = unrar: Comic Book Archive support
	optdepends = unarchiver: Comic Book Archive support (alternative)
	options = !zipman
	source = https://download.kde.org/stable/release-service/20.04.0/src/okular-20.04.0.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.0/src/okular-20.04.0.tar.xz.sig
	source = kdebug-419096.patch::https://cgit.kde.org/okular.git/patch/?id=d735d50cdea61cefc2413637ca164d0b33221eaa
	source = kdebug-420525.patch::https://cgit.kde.org/okular.git/patch/?id=8fdfeeb6c7fe178f69de07f6fd9073e3e27604f2
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 1b6521b4eaa0a0eb41a39c3f84252d9833f6d26fa410afaef815ec661737dfe7
	sha256sums = SKIP
	sha256sums = 55681350e2a7acfeb1121f2a2829b0680c74f3237e1a1faebfccfc5ce0650328
	sha256sums = 80e3883294fb0c74e1d4dd7de8f9e0a8f4b6d5a9b814c21e67c78fb9d1ab2102

pkgname = okular

