pkgbase = okular
	pkgdesc = A fast and easy to use image viewer
	pkgver = 20.08.3
	pkgrel = 1.1
	url = https://kde.org/applications/graphics/gwenview/
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kactivities
	depends = baloo
	depends = libkipi
	depends = libkdcraw
	depends = kparts
	depends = kitemmodels
	depends = cfitsio
	depends = phonon-qt5
	depends = purpose
	depends = perl
	optdepends = qt5-imageformats: support for tiff, webp, and more image formats
	optdepends = kimageformats: support for dds, xcf, exr, psd, and more image formats
	optdepends = kipi-plugins: export to various online services
	optdepends = kamera: import pictures from gphoto2 cameras
	source = https://download.kde.org/stable/release-service/20.08.3/src/okular-20.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.3/src/okular-20.08.3.tar.xz.sig
	source = kdebug-406831.patch::https://invent.kde.org/graphics/okular/commit/b696d6dbfb8453948010ed786d9ab24bd3d1b485.patch
	source = kdebug-424340.patch::https://invent.kde.org/graphics/okular/commit/caa351c723c906cb2f675e298a17427928b7abd3.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 3f4d084d738a7dfb996d5f1bb5becd2a96b0fbb35135010460f239cdd98ca9e0
	sha256sums = SKIP
	sha256sums = 8a86b6ced4bb58defaaf87b0735e2b64199b0adee1154e759247a33a321a2f42
	sha256sums = 7f6b44540e2540001f603403204cfa7c7b4056edd0fe103387043b53632a19d0

pkgname = okular

