pkgbase = okular
	pkgdesc = Document Viewer
	pkgver = 20.04.3
	pkgrel = 1.1
	url = https://kde.org/applications/graphics/okular/
	arch = x86_64
	groups = kde-applications
	groups = kdegraphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = ebook-tools
	makedepends = kdegraphics-mobipocket
	makedepends = kdoctools
	makedepends = khtml
	makedepends = chmlib
	depends = djvulibre
	depends = libspectre
	depends = libkexiv2
	depends = poppler-qt5
	depends = qca
	depends = kpty
	depends = kactivities
	depends = threadweaver
	depends = kjs
	depends = kparts
	depends = purpose
	depends = discount
	depends = phonon-qt5
	optdepends = ebook-tools: mobi and epub support
	optdepends = kdegraphics-mobipocket: mobi support
	optdepends = libzip: CHM support
	optdepends = khtml: CHM support
	optdepends = chmlib: CHM support
	optdepends = calligra: ODT and ODP support
	optdepends = unrar: Comic Book Archive support
	optdepends = unarchiver: Comic Book Archive support (alternative)
	options = !zipman
	source = https://download.kde.org/stable/release-service/20.04.3/src/okular-20.04.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.3/src/okular-20.04.3.tar.xz.sig
	source = kdebug-419096.patch::https://invent.kde.org/graphics/okular/-/commit/d735d50cdea61cefc2413637ca164d0b33221eaa.patch
	source = kdebug-421163.patch::https://invent.kde.org/graphics/okular/-/commit/b1c02b7e79c8be1716ddba73d92d5792032821c6.patch
	source = kdebug-421468.patch::https://invent.kde.org/graphics/okular/-/commit/7eb37c99c9cd27bfd918dffe2dca7b9ec22ab5fb.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 60865a5d09f41d30572b72224fb61baf9dde18cf6e246565d852e672e7bc4cfe
	sha256sums = SKIP
	sha256sums = 1f38bae516e8ee6cfce3f9d0ee17985ac8d76ebbd05818c5b61f05adcabb8a81
	sha256sums = 17847c89625cb434acd36d83f04ada3910fdb59e0ff2c6325030ca7d0ce3719a
	sha256sums = 003325cb4be18005215be060b9ad186b3d7e664c7e1bea6dfaa84b57ce661f8f

pkgname = okular

