pkgbase = kimageformats
	pkgdesc = Image format plugins for Qt5
	pkgver = 5.69.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = karchive
	depends = qt5-base
	depends = openexr
	optdepends = karchive: plugin for Krita and OpenRaster images
	source = https://download.kde.org/stable/frameworks/5.69/kimageformats-5.69.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.69/kimageformats-5.69.0.tar.xz.sig
	source = D25937.patch::https://cgit.kde.org/kimageformats.git/patch/?id=c60e77c048d32ccf743cec695743b77b2b25dc87
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 1604d680b7ea6f1095b979098a5b4e8fd7a09d4070e80fbd75aca7b3820a7768
	sha256sums = SKIP
	sha256sums = 07578d17eac72e6e0571af3fd31cfe985c934ee04f501658fbbc216085472165

pkgname = kimageformats

