pkgbase = filelight
	pkgdesc = View disk usage information
	pkgver = 20.12.3
	pkgrel = 1.1
	url = https://kde.org/applications/utilities/filelight
	arch = x86_64
	groups = kde-applications
	groups = kde-utilities
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kio
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/release-service/20.12.3/src/filelight-20.12.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.12.3/src/filelight-20.12.3.tar.xz.sig
	source = kdebug-429263.patch::https://invent.kde.org/utilities/filelight/-/commit/f133de56682412692a9a28103417e4d26083e5aa.patch
	source = kdebug-417162.patch::https://invent.kde.org/utilities/filelight/commit/70795c19dbd1aae5cde3ce7fc870ad8ca4de8ac3.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 206a70d9aa2d5ba025cb5ab84d860843a163919f26517eca5c0108b123be4a5a
	sha256sums = SKIP
	sha256sums = 1d3366dbc6cd9cdf7660fa4fc1a0a6c6203154fe2d48cc0aac423e7b9d75522c
	sha256sums = 2b51b6cd39da6aeecad50908e70c647b7af4aea6635129bb266b39d1b4e6f94d

pkgname = filelight
