pkgbase = xdg-desktop-portal-kde
	pkgdesc = A backend implementation for xdg-desktop-portal using Qt/KF5
	pkgver = 5.20.1
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	depends = pipewire
	depends = kirigami2
	depends = plasma-framework
	provides = xdg-desktop-portal-impl
	source = https://download.kde.org/stable/plasma/5.20.1/xdg-desktop-portal-kde-5.20.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.20.1/xdg-desktop-portal-kde-5.20.1.tar.xz.sig
	source = kdebug-427306.patch::https://invent.kde.org/plasma/xdg-desktop-portal-kde/commit/62e6605207d151b34b8c78c00ff5087d4831e85a.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = e09362a184e3814725206abe7d28e997851d4be0249c4b88619a51b1c3cfee2c
	sha256sums = SKIP
	sha256sums = 363ae738c8374ae5d620729967d09fae031eeb6c213e1b552f566bf9b548d994

pkgname = xdg-desktop-portal-kde

