pkgbase = kwin
	pkgdesc = An easy to use, but flexible, composited Window Manager
	pkgver = 5.21.1
	pkgrel = 2.1
	url = https://kde.org/plasma-desktop/
	install = kwin.install
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = kdoctools
	makedepends = krunner
	depends = kscreenlocker
	depends = xcb-util-cursor
	depends = plasma-framework
	depends = kcmutils
	depends = kwayland-server
	depends = breeze
	depends = qt5-script
	depends = pipewire
	depends = libqaccessibilityclient
	depends = lcms2
	optdepends = qt5-virtualkeyboard: virtual keyboard support for kwin-wayland
	source = https://download.kde.org/stable/plasma/5.21.1/kwin-5.21.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.1/kwin-5.21.1.tar.xz.sig
	source = kdebug-428301.patch::https://invent.kde.org/plasma/kwin/commit/57b6091bd58b0ca7a51618cbaea11b8b75983cab.patch
	source = commit-30464e5c.patch::https://invent.kde.org/plasma/kwin/-/commit/30464e5c8b3643d19176aa2c521c9dd3eb6609dd.patch
	source = commit-2b721200.patch::https://invent.kde.org/plasma/kwin/-/commit/2b721200fb5c8a0b935a1ba633d69cd1fb992719.patch
	source = kdebug-433145.patch::https://invent.kde.org/plasma/kwin/commit/c2b2127f.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 5a044450ffdc1610a73d5db3f3f50d2513de930f4be5c167da703cc7d23abc0c
	sha256sums = SKIP
	sha256sums = 4342190b491d77fa5dc61b6d9c92e23509807fdb4cf40d6a2b5e918ff3a07f70
	sha256sums = 2603390a77824c322a53237261da778facf19ca274b9fa1e52f6fd6886dbe280
	sha256sums = a735a65997ad0b0987ca85c16cc7fa8ffce4ebac3f3855314504e47d32befb24
	sha256sums = 0b48b38734ab4e7223449f24504fd4e0352b8bf5c7c47e4423a806cecb260256

pkgname = kwin
