pkgbase = mpv-light
	pkgdesc = a free, open source, and cross-platform media player (polaur - changed: removed smbclient libcdio-paranoia libdvdnav dvb )
	pkgver = 0.34.1
	pkgrel = 3.1
	url = https://mpv.io/
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = python-docutils
	makedepends = ladspa
	makedepends = wayland-protocols
	makedepends = ffnvcodec-headers
	makedepends = vulkan-headers
	makedepends = waf
	depends = alsa-lib
	depends = desktop-file-utils
	depends = ffmpeg
	depends = glibc
	depends = hicolor-icon-theme
	depends = jack
	depends = lcms2
	depends = libarchive
	depends = libdrm
	depends = libegl
	depends = libgl
	depends = libglvnd
	depends = libjpeg
	depends = libass
	depends = libva
	depends = libvdpau
	depends = libx11
	depends = libxext
	depends = libxinerama
	depends = libxkbcommon
	depends = libxrandr
	depends = libxss
	depends = libxv
	depends = lua
	depends = mesa
	depends = mujs
	depends = rubberband
	depends = shaderc
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = xdg-utils
	depends = zlib
	optdepends = yt-dlp: for video-sharing websites playback
	optdepends = youtube-dl: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = mpv
	options = !emptydirs
	source = git+https://github.com/mpv-player/mpv.git#tag=df6d84c1cf4bbc2b998f4d320542c78df674512d?signed
	validpgpkeys = 145077D82501AA20152CACCE8D769208D5E31419
	sha256sums = SKIP

pkgname = mpv-light
