pkgbase = mpv-light
	pkgdesc = a free, open source, and cross-platform media player (polaur - changed: removed smbclient libcdio-paranoia libdvdnav dvb )
	pkgver = 0.34.0
	pkgrel = 4.2
	url = https://mpv.io/
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = python-docutils
	makedepends = ladspa
	makedepends = wayland-protocols
	makedepends = ffnvcodec-headers
	makedepends = vulkan-headers
	makedepends = waf
	depends = alsa-lib
	depends = desktop-file-utils
	depends = ffmpeg
	depends = glibc
	depends = hicolor-icon-theme
	depends = jack
	depends = lcms2
	depends = lua52
	depends = mesa
	depends = mujs
	depends = rubberband
	depends = shaderc
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = xdg-utils
	depends = zlib
	optdepends = yt-dlp: for video-sharing websites playback
	optdepends = youtube-dl: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = mpv
	options = !emptydirs
	source = git+https://github.com/mpv-player/mpv.git#tag=79b4060a573e83ae42d51d995bca1ccf80690997?signed
	validpgpkeys = 145077D82501AA20152CACCE8D769208D5E31419
	sha256sums = SKIP

pkgname = mpv-light
