pkgbase = kio
	pkgdesc = Resource and network access abstraction
	pkgver = 5.87.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = solid
	depends = kjobwidgets
	depends = kbookmarks
	depends = libxslt
	depends = kwallet
	depends = ktextwidgets
	depends = kded
	optdepends = kio-extras: extra protocols support (sftp, fish and more)
	optdepends = kdoctools: for the help kioslave
	optdepends = kio-fuse: to mount remote filesystems via FUSE
	source = https://download.kde.org/stable/frameworks/5.87/kio-5.87.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.87/kio-5.87.0.tar.xz.sig
	source = kdebug-433127.patch::https://invent.kde.org/frameworks/kio/commit/b33307901f30ec8d724a7e424838165746563d06.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = b91ed59de09c3b69c1eb50e6df2e087d912bda06a5d394763aa6e2e936cebc6b
	sha256sums = SKIP
	sha256sums = 80a0119e83e184c402e5145804e7777198053e2a9b539352e66112025e74dba5

pkgname = kio
