pkgbase = kio
	pkgdesc = Resource and network access abstraction
	pkgver = 5.74.1
	pkgrel = 1.3
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = solid
	depends = kjobwidgets
	depends = kbookmarks
	depends = libxslt
	depends = kwallet
	depends = ktextwidgets
	depends = kded
	optdepends = kio-extras: extra protocols support (sftp, fish and more)
	optdepends = kdoctools: for the help kioslave
	optdepends = knetattach: to add new kio-remote entries
	optdepends = kio-fuse: to mount remote filesystems via FUSE
	source = https://download.kde.org/stable/frameworks/5.74/kio-5.74.1.tar.xz
	source = https://download.kde.org/stable/frameworks/5.74/kio-5.74.1.tar.xz.sig
	source = kdebug-185433.patch::https://invent.kde.org/frameworks/kio/commit/87adf7f6bcbd9baddafda58e2dbf7052eb323358.patch
	source = kdebug-425396.patch::https://invent.kde.org/frameworks/kio/commit/9d0a8240c7ec258b45b156f0970af56ab4fc4584.patch
	source = kdebug-425163.patch::https://invent.kde.org/frameworks/kio/commit/17508a45e1688c68d3855006dbba254dbb707c09.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 2f88a383b751194d4f327d3f87f8ea25fe882f8cc5c58a368529d9ab7143a6e7
	sha256sums = SKIP
	sha256sums = 329678fa158af698944f19097dff2e6c7937d7894bdf1243e39fbe2c2b1fd22b
	sha256sums = 8f22d6960946946f8144bd8611ebb2ec981803ece689678ecb44769aaeb6852b
	sha256sums = 9a420ae69761eaa8d877a3a93ac21a87a9308f09b055929273b9498a81cf3329

pkgname = kio

