pkgbase = syntax-highlighting
	pkgdesc = Syntax highlighting engine for structured text and code
	pkgver = 5.70.0
	pkgrel = 1.2
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = qt5-xmlpatterns
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = qt5-base
	source = https://download.kde.org/stable/frameworks/5.70/syntax-highlighting-5.70.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.70/syntax-highlighting-5.70.0.tar.xz.sig
	source = kdebug-418876.patch::https://cgit.kde.org/syntax-highlighting.git/patch/?id=1e8466029c821575a2869acc0ca28e673426d397
	source = kdebug-421445.patch::https://cgit.kde.org/syntax-highlighting.git/patch/?id=f804af905ef3a3de8aa6bdd49344f231e420b82d
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 4b0e25e2e0070e52f0e463dc876087dc1613910df644757512c3a0ab313d568a
	sha256sums = SKIP
	sha256sums = ba4c3f8fcdda2d7a0ba4fbf13d7cac2f4a1c2f743cfe92d85fd812c644449e50
	sha256sums = fc46ac04a620649bdda17d77defa9d306eb7b1d7dceb8f9506bdf2326141dbb4

pkgname = syntax-highlighting

