pkgbase = spectacle
	pkgdesc = KDE screenshot capture utility
	pkgver = 20.04.2
	pkgrel = 1.1
	url = https://kde.org/applications/utilities/org.kde.spectacle
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = xcb-util-cursor
	depends = libkipi
	depends = purpose
	depends = knewstuff
	depends = kwayland
	depends = qt5-tools
	optdepends = kipi-plugins: export to various online services
	source = https://download.kde.org/stable/release-service/20.04.2/src/spectacle-20.04.2.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.2/src/spectacle-20.04.2.tar.xz.sig
	source = kdebug-407489.patch::https://invent.kde.org/graphics/spectacle/commit/889d407bd49b1f53e9dde101bc7d05e6ffc14d95.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 39f16ca9c30de73d11dfc0da902c712bf260a1cd69c87bc950db896db8188866
	sha256sums = SKIP
	sha256sums = 65fb7acc8cbfded57912df1f655b7fbd83187dd48f05d3de7471283bca783565

pkgname = spectacle

