pkgbase = krename
	pkgdesc = A very powerful batch file renamer
	pkgver = 5.0.0
	pkgrel = 4.1
	url = https://www.krename.net
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	depends = kio
	depends = kjs
	depends = exiv2
	depends = podofo
	depends = taglib
	depends = hicolor-icon-theme
	source = https://download.kde.org/stable/krename/5.0.0/src/krename-5.0.0.tar.xz
	source = https://download.kde.org/stable/krename/5.0.0/src/krename-5.0.0.tar.xz.sig
	source = krename-exiv2-0.27.patch
	source = kdebug-391291.patch::https://cgit.kde.org/krename.git/patch/?id=d9f23bd5dc9e87c9613136708dd93ff92ba9bc23
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = 0a61761853787fd46b35f3a733cf87cde00de5df631728332a64c38c670bd28c
	sha256sums = SKIP
	sha256sums = c7e1663ef8dfb0c9a00db7c0e9815cc8fbdffbf1129236c1ce659c37d6c38089
	sha256sums = d752b931dbd1118f06d05ed2ef8c4e14f10c239690bb8e39030a36bbbc2e9a81

pkgname = krename

