pkgbase = gwenview
	pkgdesc = A fast and easy to use image viewer
	pkgver = 20.08.3
	pkgrel = 1.1
	url = https://kde.org/applications/graphics/gwenview/
	arch = x86_64
	groups = kde-applications
	groups = kde-graphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kactivities
	depends = baloo
	depends = libkipi
	depends = libkdcraw
	depends = kparts
	depends = kitemmodels
	depends = cfitsio
	depends = phonon-qt5
	depends = purpose
	depends = perl
	optdepends = qt5-imageformats: support for tiff, webp, and more image formats
	optdepends = kimageformats: support for dds, xcf, exr, psd, and more image formats
	optdepends = kipi-plugins: export to various online services
	optdepends = kamera: import pictures from gphoto2 cameras
	source = https://download.kde.org/stable/release-service/20.08.3/src/gwenview-20.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.3/src/gwenview-20.08.3.tar.xz.sig
	source = kdebug-425479.patch::https://invent.kde.org/graphics/gwenview/commit/f5cb19e887902599a31e0b8169a6dfd3a57069cf.patch
	source = kdebug-274901.patch::https://invent.kde.org/graphics/gwenview/commit/02b3411c1c522b613ff0f8fd306518a5576d46d0.patch
	source = kdebug-427569.patch::https://invent.kde.org/graphics/gwenview/commit/e737554c9faff3be27083497c26675155bcf8122.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = acc76c7b80f71ce47fb747c81cd062b1581ccc441f025e023bedc193feb8bc26
	sha256sums = SKIP
	sha256sums = 430f6b6227e522681584c210ce8eb3a41a6c8637d372e71b73016554d7ec1769
	sha256sums = c36144bf06451b73c20492f48ccbfba65600d279b63ef16b6cd57e421fce9b06
	sha256sums = 1dd4cb8449bdbb2cf11d6aa75db37ae64144dd9284125a251712e50d461b270d

pkgname = gwenview

