pkgbase = kde-gtk-config
	pkgdesc = GTK2 and GTK3 Configurator for KDE
	pkgver = 5.18.3
	pkgrel = 1.2
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = gtk2
	makedepends = gtk3
	depends = kiconthemes
	depends = kdbusaddons
	optdepends = gtk2: GTK2 apps support
	optdepends = gtk3: GTK3 apps support
	optdepends = xsettingsd: apply settings to GTK applications on the fly
	source = https://download.kde.org/stable/plasma/5.18.3/kde-gtk-config-5.18.3.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.3/kde-gtk-config-5.18.3.tar.xz.sig
	source = kdebug-418263.patch::https://cgit.kde.org/kde-gtk-config.git/patch/?id=b6e7c6f056740e936adc94b7a843f6448f6830ab
	source = kdebug-333146.patch::https://cgit.kde.org/kde-gtk-config.git/patch/?id=a581035b3f4793d96e9b5d2cf6b55191cbb4be91
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = cd47092634387fdc63712846fecdee2385f98947910051c6ded95c7d741752c8
	sha256sums = SKIP
	sha256sums = 1f2ca61fafdcea7912a37c950bca0e41503cf3c5a8be866f6321a74f5b01d172
	sha256sums = 300851056be72198091fb1fc5e2bd7c190aaad18d024345e69aa6d8420cec04a

pkgname = kde-gtk-config

