pkgbase = kde-gtk-config
	pkgdesc = GTK2 and GTK3 Configurator for KDE
	pkgver = 5.21.1
	pkgrel = 1.2
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = gtk2
	makedepends = gtk3
	makedepends = sassc
	depends = kdbusaddons
	depends = kconfigwidgets
	optdepends = gtk2: GTK2 apps support
	optdepends = gtk3: GTK3 apps support
	optdepends = xsettingsd: apply settings to GTK applications on the fly
	source = https://download.kde.org/stable/plasma/5.21.1/kde-gtk-config-5.21.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.1/kde-gtk-config-5.21.1.tar.xz.sig
	source = kdebug-432712.patch::https://invent.kde.org/plasma/kde-gtk-config/commit/cbfb855ac2f50f91fb39085a337e3151780c861a.patch
	source = kdebug-433608.patch::https://invent.kde.org/plasma/kde-gtk-config/commit/83289058a4332f25c664f2f6b495c72c349e15c0.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = ac21ddf13c90a52829a48c51b05408228445ce0999c0221ffcde52977a20075b
	sha256sums = SKIP
	sha256sums = 912aa127a8939e5c864cba8cac99572163f464bf409e8a8aaaec6a0d613e304e
	sha256sums = 5c3c2760c1290aac172a946a287a2b5f4f7020d7f5d1a20bfede43da0a7c2e51

pkgname = kde-gtk-config
