pkgbase = kde-gtk-config
	pkgdesc = GTK2 and GTK3 Configurator for KDE
	pkgver = 5.19.4
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = gtk2
	makedepends = gtk3
	depends = kdbusaddons
	depends = kconfigwidgets
	optdepends = gtk2: GTK2 apps support
	optdepends = gtk3: GTK3 apps support
	optdepends = xsettingsd: apply settings to GTK applications on the fly
	source = https://download.kde.org/stable/plasma/5.19.4/kde-gtk-config-5.19.4.tar.xz
	source = https://download.kde.org/stable/plasma/5.19.4/kde-gtk-config-5.19.4.tar.xz.sig
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 0df5feaf437b1a89c92df225e5cb6f18f3729ae87509c3d162c34c5e0526229d
	sha256sums = SKIP

pkgname = kde-gtk-config

