pkgbase = milou
	pkgdesc = A dedicated search application built on top of Baloo
	pkgver = 5.18.4.1
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = krunner
	depends = kitemmodels
	source = https://download.kde.org/stable/plasma/5.18.4/milou-5.18.4.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.4/milou-5.18.4.1.tar.xz.sig
	source = kdebug-418109.patch::https://cgit.kde.org/milou.git/patch/?id=92ecad19708db75fb35d912e172f026dc2d41606
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 51008aaac65876c83346261c9b89637ad2ac613e3b57bdb9b936d3dc661e4014
	sha256sums = SKIP
	sha256sums = 9af1fe9de7ade9b0bde49cf0326eb2e7492d8a0f084ad3ec167256302a11bf02

pkgname = milou

