pkgbase = kdepim-runtime
	pkgdesc = Extends the functionality of kdepim
	pkgver = 20.04.0
	pkgrel = 1.1
	url = https://kontact.kde.org
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = boost
	depends = libkolabxml
	depends = kdav
	depends = akonadi-calendar
	depends = knotifyconfig
	depends = kalarmcal
	depends = kmbox
	depends = pimcommon
	depends = akonadi-notes
	depends = akonadi
	depends = qca
	depends = qt5-networkauth
	source = https://download.kde.org/stable/release-service/20.04.0/src/kdepim-runtime-20.04.0.tar.xz
	source = https://download.kde.org/stable/release-service/20.04.0/src/kdepim-runtime-20.04.0.tar.xz.sig
	source = kdebug-413078.patch::https://cgit.kde.org/kdepim-runtime.git/patch/?id=4484df3d6f0c449ec2cfd4956175eab507f4cc55
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 50fa874d997fe72f1acb7f427bf310c357dedd79df80a06cb00f4a67f3efbe24
	sha256sums = SKIP
	sha256sums = 899a7d146324992b08b9cee684586a4cc2625095ce934f4dbe03d15c6cd47764

pkgname = kdepim-runtime

