pkgbase = qqc2-desktop-style
	pkgdesc = A style for Qt Quick Controls 2 to make it follow your desktop theme
	pkgver = 5.71.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kiconthemes
	source = https://download.kde.org/stable/frameworks/5.71/qqc2-desktop-style-5.71.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.71/qqc2-desktop-style-5.71.0.tar.xz.sig
	source = kdebug-423236.patch::https://invent.kde.org/frameworks/qqc2-desktop-style/commit/f4167fc479706af808e3bdb4f8d47e09ba5105d6.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = b968ce6fc7c1d111aa2c63584dddc0f74e9066a0b4ea26d1194e46e2f7b38700
	sha256sums = SKIP
	sha256sums = 91b1d9b95d5a45e94981fd247a661990430bd4d7467be8430f67051650af36d8

pkgname = qqc2-desktop-style

