pkgbase = qqc2-desktop-style
	pkgdesc = A style for Qt Quick Controls 2 to make it follow your desktop theme
	pkgver = 5.75.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kiconthemes
	source = https://download.kde.org/stable/frameworks/5.75/qqc2-desktop-style-5.75.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.75/qqc2-desktop-style-5.75.0.tar.xz.sig
	source = kdebug-427449.patch::https://invent.kde.org/frameworks/qqc2-desktop-style/commit/015891bf58b5f96ae142920bba48b92fe31ea0e4.patch
	source = kdebug-412444.patch::https://invent.kde.org/frameworks/qqc2-desktop-style/-/commit/7220dad12864d8e7701a66557ed32e25685612ec.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 770895c4363973ddcbac281526de8297a4df37bfe1df08be59e62a8caf9368d3
	sha256sums = SKIP
	sha256sums = c2c708e4364ca726438cde6ad8f642f793776080e103ebd242c4167a8f53d9c6
	sha256sums = 1d52aaca79501b57a72e7288de95a9332589a631bcf88fc9c178e3128fbe7a80

pkgname = qqc2-desktop-style

