pkgbase = qqc2-desktop-style
	pkgdesc = A style for Qt Quick Controls 2 to make it follow your desktop theme
	pkgver = 5.78.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kiconthemes
	source = https://download.kde.org/stable/frameworks/5.78/qqc2-desktop-style-5.78.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.78/qqc2-desktop-style-5.78.0.tar.xz.sig
	source = kdebug-400258.patch::https://invent.kde.org/frameworks/qqc2-desktop-style/commit/9f6e3acc1c9e548a2ac9a71b0b97fedbcb664435.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 33ea60eba2112036b6e3e136161746afe84d44227da7b6d3011b83beb3eb3329
	sha256sums = SKIP
	sha256sums = c59ae46336bfed2674abe7402e5cd6137867d3f61a54ced40b479908590dac72

pkgname = qqc2-desktop-style
