pkgbase = kate
	pkgver = 21.08.3
	pkgrel = 1.1
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = plasma-framework
	makedepends = knewstuff
	makedepends = kitemmodels
	makedepends = ktexteditor
	makedepends = kactivities
	makedepends = kuserfeedback
	source = https://download.kde.org/stable/release-service/21.08.3/src/kate-21.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/21.08.3/src/kate-21.08.3.tar.xz.sig
	source = https://invent.kde.org/utilities/kate/-/commit/8328b53f.patch
	source = kdebug-442707.patch::https://invent.kde.org/utilities/kate/commit/3c49ff662b7e87a4a3012650ded4dcdcb9f6d526.patch
	source = kdebug-443267.patch::https://invent.kde.org/utilities/kate/commit/c2ca7aa3288f791ce4a66add5e0c5d8929631872.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	validpgpkeys = D81C0CB38EB725EF6691C385BB463350D6EF31EF
	sha256sums = e23eb09a06e29c273332dedc95f79abb9d070ec749cf9de2178a0c383b07bfbd
	sha256sums = SKIP
	sha256sums = 082c4a0c985b07e0f6976f0e183c28be290b796978f362e46e3917c24d9ca4b1
	sha256sums = 7a75d582f1501c3e7ed4bf49d698a0c5a1ce5951942d4b5c6a60d5822d95aa9f
	sha256sums = 024190360358b186077dd63ee25f871617528eeb4aa833c601c2f2f2a0ed9e77

pkgname = kwrite
	pkgdesc = Text Editor
	url = https://apps.kde.org/kwrite/
	groups = kde-applications
	groups = kde-utilities
	depends = ktexteditor
	depends = hicolor-icon-theme

pkgname = kate
	pkgdesc = Advanced Text Editor
	url = https://apps.kde.org/kate/
	groups = kde-applications
	groups = kde-utilities
	depends = knewstuff
	depends = ktexteditor
	depends = kactivities
	depends = kuserfeedback
	depends = hicolor-icon-theme
	optdepends = konsole: open a terminal in Kate
	optdepends = clang: C and C++ LSP support
	optdepends = python-lsp-server: Python LSP support
	optdepends = texlab: LaTeX LSP support
	optdepends = rust: Rust LSP support
	optdepends = git: git-blame plugin
