pkgbase = kate
	pkgver = 20.08.1
	pkgrel = 1.2
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = plasma-framework
	makedepends = knewstuff
	makedepends = kitemmodels
	makedepends = ktexteditor
	makedepends = threadweaver
	makedepends = kactivities
	makedepends = kuserfeedback
	source = https://download.kde.org/stable/release-service/20.08.1/src/kate-20.08.1.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.1/src/kate-20.08.1.tar.xz.sig
	source = kdebug-426300.patch::https://invent.kde.org/utilities/kate/commit/14e0da664a2733dee652795323b128ecbcf85c5c.patch
	source = kdebug-426042.patch::https://invent.kde.org/utilities/kate/commit/4eaa3b75bd91febbcf9823aeeb45b91e1158f98a.patch
	source = kdebug-426605.patch::https://invent.kde.org/utilities/kate/commit/972903d2620932477c91c62b8b8c56e8d3bf40bd.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 44607f6a1d5ca8bb7173bedbeabef65bb98dde0fd009987bd8139fbb53959146
	sha256sums = SKIP
	sha256sums = b8a021d8614696ced9d161a41c04c06fb85f258d98ccf49c367b82426303f8cb
	sha256sums = 4e83a3495c6ad9a7889f67a01f4b4547971b5c27dbb62738cc0b3057a107bf8a
	sha256sums = 4d0a4eceabf74562263eb388a330e8be566b105c8ec3111fe24a4769b4d5b01e

pkgname = kwrite
	pkgdesc = Text Editor
	url = https://www.kde.org/applications/utilities/kwrite/
	groups = kde-applications
	groups = kde-utilities
	depends = ktexteditor
	depends = hicolor-icon-theme

pkgname = kate
	pkgdesc = Advanced Text Editor
	url = https://www.kde.org/applications/utilities/kate/
	groups = kde-applications
	groups = kde-utilities
	depends = knewstuff
	depends = ktexteditor
	depends = threadweaver
	depends = kactivities
	depends = kuserfeedback
	depends = hicolor-icon-theme
	optdepends = konsole: open a terminal in Kate
	optdepends = clang: C and C++ LSP support
	optdepends = python-language-server: Python LSP support
	optdepends = texlab: LaTeX LSP support
	optdepends = rust: Rust LSP support

