pkgbase = baloo
	pkgdesc = A framework for searching and managing metadata
	pkgver = 5.73.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-declarative
	depends = kfilemetadata
	depends = kidletime
	depends = kio
	depends = lmdb
	optdepends = qt5-declarative: QML bindings
	source = https://download.kde.org/stable/frameworks/5.73/baloo-5.73.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.73/baloo-5.73.0.tar.xz.sig
	source = kdebug-425017.patch::https://invent.kde.org/frameworks/baloo/commit/fdc162f3f72eaafec2dd8609470ec0002d5c9517.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 887077ae3e090d673d2ffe7eb869a0ab6f5d14e9dae2dccd619e4689699a2dfe
	sha256sums = SKIP
	sha256sums = 949067bd53cb76641a1bd1a950d9baa05082e0a80b2d6a8a1781ff7f62bac2ac

pkgname = baloo

