pkgbase = baloo
	pkgdesc = A framework for searching and managing metadata
	pkgver = 5.71.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-declarative
	depends = kfilemetadata
	depends = kidletime
	depends = kio
	depends = lmdb
	optdepends = qt5-declarative: QML bindings
	source = https://download.kde.org/stable/frameworks/5.71/baloo-5.71.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.71/baloo-5.71.0.tar.xz.sig
	source = kdebug-422085.patch::https://invent.kde.org/frameworks/baloo/commit/24b1392e0094a954bb15c99d71cb0ccf527e88ea.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 23378213d00ecf1f26eeb417987984f5a63bbd643359403dfd20638cbc1ec84b
	sha256sums = SKIP
	sha256sums = e1249062274d8006af5bb600a673b2b7ac01c705788e973e0d6bd11af69869a8

pkgname = baloo

