pkgbase = baloo
	pkgdesc = A framework for searching and managing metadata
	pkgver = 5.79.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-declarative
	depends = kfilemetadata
	depends = kidletime
	depends = kio
	depends = lmdb
	optdepends = qt5-declarative: QML bindings
	source = https://download.kde.org/stable/frameworks/5.79/baloo-5.79.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.79/baloo-5.79.0.tar.xz.sig
	source = kdebug-433095.patch::https://invent.kde.org/frameworks/baloo/commit/95f3290e43bdf1124122320eacd510aa8803020c.patch
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 80f9aca313fc214b6363ae37546df7825eafdb291bdc6f597d86cb0b8c38ff50
	sha256sums = SKIP
	sha256sums = 4ce284e2faae8845b061e82f06db887d9fa501fcb0d50d90c4f6225195d41208

pkgname = baloo
