pkgbase = bluedevil
	pkgdesc = Integrate the Bluetooth technology within KDE workspace and applications
	pkgver = 5.21.4
	pkgrel = 1.1
	epoch = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = plasma-framework
	depends = bluez-qt
	depends = kdeclarative
	optdepends = pulseaudio-bluetooth: to connect to A2DP profile
	source = https://download.kde.org/stable/plasma/5.21.4/bluedevil-5.21.4.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.4/bluedevil-5.21.4.tar.xz.sig
	source = kdebug-409179.patch::https://invent.kde.org/plasma/bluedevil/commit/ba9fbb6bbdadc67ccfbe953cdf2f0f0e8a609cb2.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = e115d1851f6ce251fc7447936cd929c6c222c91fd832ce7c39f15d10a68c4653
	sha256sums = SKIP
	sha256sums = a1d3755542ba2cf47cbe7eada042f2de5ed5ea140bc87452d970cd55fac0c623

pkgname = bluedevil

