pkgbase = plasma-desktop
	pkgdesc = KDE Plasma Desktop
	pkgver = 5.18.4.1
	pkgrel = 1.3
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = xf86-input-evdev
	makedepends = xf86-input-synaptics
	makedepends = xf86-input-libinput
	makedepends = xorg-server-devel
	makedepends = libibus
	makedepends = scim
	makedepends = kdesignerplugin
	depends = polkit-kde-agent
	depends = libxkbfile
	depends = kmenuedit
	depends = systemsettings
	depends = ksysguard
	depends = baloo
	source = https://download.kde.org/stable/plasma/5.18.4/plasma-desktop-5.18.4.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.18.4/plasma-desktop-5.18.4.1.tar.xz.sig
	source = kdebug-416553.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=a35d2b9adf40072e242b8820dcb07cf0a7ed037b
	source = kdebug-415649.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=c32b5a85cae6f99bb5097b16a25983fc611aecc6
	source = kdebug-417461.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=fffb352cfa1eb5e18f038d5b423d2dce0dca8727
	source = kdebug-418604.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=4d33b8276e00471f6bfc14a174b3a33fe17627b3
	source = kdebug-406932.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=3e8c7dada73ed838a93b0b0ffcd5c679627ffa54
	source = kdebug-403842.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=0cf73170479bb271fb7498e67d38d3c6255594a4
	source = kdebug-419853.patch::https://cgit.kde.org/plasma-desktop.git/patch/?id=ba66d2eabe38bc357d799bff391cf5edbce139c0
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 19c50781ced6608b8efb3d94e94575a397f58a159d63bba64c27a6c6d72e0af3
	sha256sums = SKIP
	sha256sums = 674976dfb7b78c66f489d4f04bafcad395c0dddff439fb7bef386cb7cd3a86ee
	sha256sums = 2d83b72c1fa5e44a68140ec981eb2d9ea2e39270fc7246910e12341df31b3a92
	sha256sums = 9dc1158dadf84731d298e1d3f3fbb64f3b02df95e04f584f88093aebe43e7a4f
	sha256sums = 8a909d705910675d0b966c9b17e8b0784d8a5714c17306800e2dfae2d18a1a90
	sha256sums = 5d688a9f644be7c57469b84211b565fd4b4242b6a812bd1df289aeb4805979ee
	sha256sums = 8315a85a5e5ef3fac6e07755c2b3abec7326de2225c82871f3198c006d3919c5
	sha256sums = 786f1609c31e9413ec66a81eb8aae09b9ea3a552e8c1c5645c05b332b4735fbe

pkgname = plasma-desktop
	depends = polkit-kde-agent
	depends = libxkbfile
	depends = kmenuedit
	depends = systemsettings
	depends = ksysguard
	depends = baloo
	depends = knetattach
	optdepends = plasma-nm: Network manager applet
	optdepends = powerdevil: power management, suspend and hibernate support
	optdepends = kscreen: screen management
	optdepends = ibus: kimpanel IBUS support
	optdepends = scim: kimpanel SCIM support

pkgname = knetattach
	pkgdesc = Wizard which makes it easier to integrate network resources with the Plasma Desktop
	depends = kdelibs4support

