pkgbase = knewstuff
	pkgdesc = Support for downloading application assets from the network
	pkgver = 5.68.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-declarative
	depends = kio
	optdepends = kirigami2: QML components
	source = https://download.kde.org/stable/frameworks/5.68/knewstuff-5.68.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.68/knewstuff-5.68.0.tar.xz.sig
	source = kdebug-417510.patch::https://cgit.kde.org/knewstuff.git/patch/?id=f1dcbddf12ea44a13963ce800223a2e683b2617d
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = f7c13b133f8b87ceece2d33d3f69215912b3b8c1dbb92ac39a1a6a0a42b7c93a
	sha256sums = SKIP
	sha256sums = b44db2bd7de2b3298cbeba3bb66e55563916486facc18806a636a3ca01466af9

pkgname = knewstuff

