pkgbase = plasma-firewall
	pkgdesc = Control Panel for your system firewall
	pkgver = 5.21.3
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = GPL
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kcmutils
	depends = plasma-framework
	optdepends = iproute2: netstat backend
	optdepends = firewalld: firewalld backend
	optdepends = ufw: ufw backend
	source = https://download.kde.org/stable/plasma/5.21.3/plasma-firewall-5.21.3.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.3/plasma-firewall-5.21.3.tar.xz.sig
	source = kdebug-434415.patch::https://invent.kde.org/plasma/plasma-firewall/commit/c963f227c5cb6dec7f53735d730e2d0a8d36abf8.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 7ca5bda3bdf7dab10726976aca5d838e651dcb0f30deb540623546fea762f52f
	sha256sums = SKIP
	sha256sums = eacc7360a34e647fa9f526d071f58843728aa6d611b917d76cd3c7937ef49dff

pkgname = plasma-firewall
