pkgbase = libksane
	pkgdesc = An image scanning library
	pkgver = 20.08.3
	pkgrel = 1.1
	url = https://www.kde.org/applications/graphics/
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	depends = ktextwidgets
	depends = kwallet
	depends = sane
	source = https://download.kde.org/stable/release-service/20.08.3/src/libksane-20.08.3.tar.xz
	source = https://download.kde.org/stable/release-service/20.08.3/src/libksane-20.08.3.tar.xz.sig
	source = kdebug-424010.patch::https://invent.kde.org/graphics/libksane/commit/a997d11d72166922db14dd93b0cf83f402d3a5a8.patch
	source = kdebug-415749.patch::https://invent.kde.org/graphics/libksane/commit/2659134fed260cbb85e708390a787fd8362105c9.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 40264a1ddb73ea886ec4b0c2498ad607f0bbc6ddf23499badde1993077b54c34
	sha256sums = SKIP
	sha256sums = b8a6d5a2ebac71e277c7d98408c4f5741df5aa5daaefa6ff011afbf9e3da7ca1
	sha256sums = d9d0e5a51ab599a7cad37c7ed98401fe7d20377ef5fc6250652a914329c8a1b2

pkgname = libksane

