pkgbase = weechat-light
	pkgdesc = Fast, light and extensible IRC client (curses UI) (polaur)
	pkgver = 2.7.1
	pkgrel = 1
	url = https://www.weechat.org/
	arch = x86_64
	license = GPL
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = gnutls
	depends = curl
	depends = libgcrypt
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for perl scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	conflicts = weechat
	replaces = weechat-python3-light
	source = weechat-light-2.7.1.tar.xz::https://www.weechat.org/files/src/weechat-2.7.1.tar.xz
	source = weechat-light-2.7.1.tar.xz.asc::https://www.weechat.org/files/src/weechat-2.7.1.tar.xz.asc
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = eb0cc4c7e0f2cf18d522b49429fe2d77b1cee3225686d0bc09f80a69b17362af0923df4cd5f4859207d84acb762d4042cd5b57799705d0b7e4759eade6c660e0
	sha512sums = SKIP

pkgname = weechat-light

