pkgbase = weechat-light
	pkgdesc = Fast, light and extensible IRC client (curses UI) (polaur)
	pkgver = 3.5
	pkgrel = 1
	url = https://www.weechat.org/
	arch = x86_64
	license = GPL
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = gnutls
	depends = curl
	depends = libgcrypt
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for perl scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	conflicts = weechat
	replaces = weechat-python3-light
	source = weechat-light-3.5.tar.xz::https://www.weechat.org/files/src/weechat-3.5.tar.xz
	source = weechat-light-3.5.tar.xz.asc::https://www.weechat.org/files/src/weechat-3.5.tar.xz.asc
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = 493be6219da4fa4b4862064de3d286d99d36018a61ba226f5abdc18c9ff43076d92f0b12fce96e04d31fed5c3931c7bf8615947cd19059dbf2c3aa75deead35f
	sha512sums = SKIP

pkgname = weechat-light
