pkgbase = weechat-light
	pkgdesc = Fast, light and extensible IRC client (curses UI) (polaur)
	pkgver = 2.8
	pkgrel = 4
	url = https://www.weechat.org/
	arch = x86_64
	license = GPL
	makedepends = asciidoctor
	makedepends = cmake
	makedepends = lua
	makedepends = perl
	makedepends = python
	makedepends = ruby
	makedepends = tcl
	depends = gnutls
	depends = curl
	depends = libgcrypt
	optdepends = lua: support for lua scripts
	optdepends = perl: support for perl scripts
	optdepends = python: support for perl scripts
	optdepends = ruby: support for ruby scripts
	optdepends = tcl: support for tcl scripts
	conflicts = weechat
	replaces = weechat-python3-light
	source = weechat-light-2.8.tar.xz::https://www.weechat.org/files/src/weechat-2.8.tar.xz
	source = weechat-light-2.8.tar.xz.asc::https://www.weechat.org/files/src/weechat-2.8.tar.xz.asc
	source = weechat-cmake-datarootdir.patch::https://github.com/weechat/weechat/commit/683464626d.patch
	source = weechat-fix-bugged-sharedir.patch::https://github.com/weechat/weechat/commit/973a4b2e77.patch
	validpgpkeys = A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
	sha512sums = 3bebb42118fca6b601f1de8f4d52378619a10e5c490f5b46f86d27a9680f00a56d48a1ade729e78d965cae589e6c80647c22414393000c7d3cfcc94a1e41c4df
	sha512sums = SKIP
	sha512sums = 973990a496370c35a4aaf607e660dd28b6bfcd561d7f354f551ad59a1ec84ccb77ad6cc09a2389fa65d5b4059dc1a544b08dc26c02f3d3d4f584c62759109c21
	sha512sums = 75ad367745a08805f11835f5b451ead8220b7940cf2f792ad77bda017ef25d987d098b111ffd423c38b5f891b13fb45ff688fdda646e77308600e466d4e858da

pkgname = weechat-light

