pkgbase = plasma-workspace
	pkgdesc = KDE Plasma Workspace
	pkgver = 5.21.2
	pkgrel = 1.3
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = gpsd
	makedepends = baloo
	makedepends = networkmanager-qt
	makedepends = kdesignerplugin
	makedepends = kinit
	makedepends = plasma-wayland-protocols
	depends = knotifyconfig
	depends = libksysguard
	depends = ktexteditor
	depends = libqalculate
	depends = kde-cli-tools
	depends = appstream-qt
	depends = phonon-qt5
	depends = xorg-xrdb
	depends = xorg-xsetroot
	depends = kactivitymanagerd
	depends = kholidays
	depends = xorg-xmessage
	depends = milou
	depends = prison
	depends = kwin
	depends = plasma-integration
	depends = kdelibs4support
	depends = kpeople
	depends = kactivities-stats
	depends = libkscreen
	depends = kquickcharts
	depends = kuserfeedback
	source = https://download.kde.org/stable/plasma/5.21.2/plasma-workspace-5.21.2.tar.xz
	source = https://download.kde.org/stable/plasma/5.21.2/plasma-workspace-5.21.2.tar.xz.sig
	source = kde.pam
	source = kdebug-431691.patch::https://invent.kde.org/plasma/plasma-workspace/commit/22e02fbbab3584932199adde24121ccceb66187b.patch
	source = kdebug-432857.patch::https://invent.kde.org/plasma/plasma-workspace/commit/51ca0cc28fd6d8d08844a3b27b86526ee0dcc71f.patch
	source = kdebug-384469.patch::https://invent.kde.org/plasma/plasma-workspace/commit/47f79ce60703d2ae36d97f97ba829d4c8f257d1f.patch
	source = kdebug-431398.patch::https://invent.kde.org/plasma/plasma-workspace/commit/97022f2f67c269cec2660ae4690e527cf452b322.patch
	source = commit-3fa447f5.patch::https://invent.kde.org/plasma/plasma-workspace/-/commit/3fa447f5648ff96985c288794c15df91484ec0f8.patch
	source = commit-906a423c.patch::https://invent.kde.org/plasma/plasma-workspace/-/commit/906a423ce1e448ddf3bd98092fc1dad3f65c9dc6.patch
	source = kdebug-408778.patch::https://invent.kde.org/plasma/plasma-workspace/-/commit/52b625081217dfe89713a918d892de1b30a517af.patch
	source = kdebug-433333.patch::https://invent.kde.org/plasma/plasma-workspace/commit/bbe0f91070ac7235066b28e57f9971ac1a4f821e.patch
	source = kdebug-433755.patch::https://invent.kde.org/plasma/plasma-workspace/commit/8fd7b38b66de36ad8b673f3ddb88f7810c4291cc.patch
	source = kdebug-433115.patch::https://invent.kde.org/plasma/plasma-workspace/commit/1278ebee2a6e72de2b3600d2baa61e57378f3d9f.patch
	source = kdebug-378910.patch::https://invent.kde.org/plasma/plasma-workspace/commit/3dee28974ebf92f078dada44d189c31cc2e1abb7.patch
	source = kdebug-383202.patch::https://invent.kde.org/plasma/plasma-workspace/commit/7c9021ebbc6277e40e2013bda48962754d6e03a4.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = f3c30b3c51dd9d127ba4086252eebef22a7fe5dd34c7fa19498559ccab73d4cc
	sha256sums = SKIP
	sha256sums = 00090291204baabe9d6857d3b1419832376dd2e279087d718b64792691e86739
	sha256sums = 841fce6201550accdf03ab47189cb6dbc9428fddb4f467634e5a8bf44d5726fd
	sha256sums = ca69f693fc76e9f139aa4d0708c740d5f8cba1bde46f968241d840faacb060a5
	sha256sums = 5b329cd8ec47c03593435e28dc3eb31081fb8516236f6039fc2737ae97922d39
	sha256sums = 4b5be104e614c676486e12666fa3be82f1bb793d2b18543f6ec6850fb987e224
	sha256sums = 7693722afbc2c2c3bf718dd9eb554985bcc35921074509ab3a592d8f887338d4
	sha256sums = b4bc5a08b30c0c7b17dd38589d2f50898a073fbe02e10aead486f681f0c067ee
	sha256sums = 8afd50b76ad7c3e370fdf605570a964ddd50e326387633bcd1784c5fae6072df
	sha256sums = 7ada45a11b5317c878bb1a74a784cf52d9968e519354e625a3f06f37a6cc7dcf
	sha256sums = 8432c426403dbccd1a39cfd31ee134b48f1a07fbf3b234ac91709a2b0db8b31f
	sha256sums = 6c866740683661501dd88e2b0fb164fdff6185c3fb42b6fd841cb41ed254a717
	sha256sums = a988fef3209b336e451b2b0af00e5054655a2772334ddca7cee9f35cd92afab6
	sha256sums = 965bc57b074e50fc8358fb2f16615ee380f8333630d1c02336ca15c641108c42

pkgname = plasma-workspace
	optdepends = plasma-workspace-wallpapers: additional wallpapers
	optdepends = gpsd: GPS based geolocation
	optdepends = networkmanager-qt: IP based geolocation
	optdepends = kdepim-addons: displaying PIM events in the calendar
	optdepends = appmenu-gtk-module: global menu support for GTK2 and some GTK3 applications
	optdepends = qt5-virtualkeyboard: virtual keyboard support in lock screen
	optdepends = baloo: Baloo search runner
	optdepends = discover: manage applications installation from the launcher
	provides = notification-daemon
	backup = etc/pam.d/kde

pkgname = plasma-wayland-session
	pkgdesc = Plasma Wayland session
	groups = 
	depends = plasma-workspace
	depends = qt5-wayland
	depends = kwayland-integration
	depends = xorg-server-xwayland

