pkgbase = plasma-pa
	pkgdesc = Plasma applet for audio volume management using PulseAudio
	pkgver = 5.20.1
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = plasma-workspace
	depends = libcanberra-pulse
	depends = pulseaudio
	depends = perl
	source = https://download.kde.org/stable/plasma/5.20.1/plasma-pa-5.20.1.tar.xz
	source = https://download.kde.org/stable/plasma/5.20.1/plasma-pa-5.20.1.tar.xz.sig
	source = kdebug-398803.patch::https://invent.kde.org/plasma/plasma-pa/commit/d11192c620bcdcd285ecda49341f597b863396f3.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = ec841d7bc0311581f6d99b7debe91e9925621bc8b3dae3931fa77d154cc04567
	sha256sums = SKIP
	sha256sums = cb4a38ce79e04650e5602a6cda786dd27ebfd27623df8982640157c762d072a6

pkgname = plasma-pa

