pkgbase = plasma-pa
	pkgdesc = Plasma applet for audio volume management using PulseAudio
	pkgver = 5.22.5
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = plasma-workspace
	depends = pulseaudio
	depends = perl
	source = https://download.kde.org/stable/plasma/5.22.5/plasma-pa-5.22.5.tar.xz
	source = https://download.kde.org/stable/plasma/5.22.5/plasma-pa-5.22.5.tar.xz.sig
	source = kdebug-398476.patch::https://invent.kde.org/plasma/plasma-pa/commit/6bebee67110d48adcd2a46cd9a1ae8c31247e17b.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 40ade6a4f7b19ae378d0db621f238f5c197d7a1a78379b5c92e9a1a88929b5ab
	sha256sums = SKIP
	sha256sums = 4a8471693475be49a43be726cbc52a01fb42ff3170ee6f157f74d04417f27c2f

pkgname = plasma-pa
