pkgbase = kdeclarative
	pkgdesc = Provides integration of QML and KDE Frameworks
	pkgver = 5.70.0
	pkgrel = 1.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kio
	depends = kpackage
	depends = libepoxy
	source = https://download.kde.org/stable/frameworks/5.70/kdeclarative-5.70.0.tar.xz
	source = https://download.kde.org/stable/frameworks/5.70/kdeclarative-5.70.0.tar.xz.sig
	source = kdebug-417488.patch::https://cgit.kde.org/kdeclarative.git/patch/?id=9725a21bcd0ee07c48be5077a735710c5658cf59
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 8914c2266d7ea32f8028aee13ae5a7f39a3583f7ec74a74584577fb0f2bc09ef
	sha256sums = SKIP
	sha256sums = c6be6621f126e9687385df7641240ff15e7f8761e87b4405a9d624e770c4a4a7

pkgname = kdeclarative

